/target/
.classpath
.project
.settings
.springBeans

# these configs are used for local development and test environment.
# For release environment use application.properties in the root of classpath (resources/ directory)
# see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-application-property-files for details
**/resources/config/application.properties
.idea
payment-to-order-processor.iml