<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{16}) : %message%n%xThrowable{10}
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

    <logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="WARN" />

    <!-- these 2 classes produce unnecessary warning about Beans mapping and default datasource absence. -->
    <logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="ERROR" />
    <logger name="org.springframework.batch.core.configuration.annotation.DefaultBatchConfigurer" level="ERROR" />
</configuration>