<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring boot testing has very early initialization, that's why before applying logging properties from
     application.properties it makes already a large DEBUG output, that's why, opposite to main app, for the tests
     we use logback-test.xml, but not application.properties -->
<configuration>
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.springframework.cloud.gcp.logging.StackdriverJsonLayout">
                <projectId>commercetools-payment-to-order-processor</projectId>
            </layout>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</configuration>